@mixin mobile {
  @media screen and (min-width: 420px) {
    @content;
  }
}
@mixin tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
    
  @mixin laptop {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }
  @mixin desktop {
    @media screen and (min-width: 1440px) {
      @content;
    }
  }
@mixin table1($cols, $mgn) {
    float: left;
    margin-right: $mgn;
    margin-bottom: $mgn;
    width: ((100% - (($cols - 1) * $mgn)) / $cols);
    &:nth-child(#{$cols}n) {
        margin: 0;
    }

    
}