.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid__item {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: skyblue;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

.gridTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridTwo__item {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 15%;
          flex: 1 15%;
  background-color: skyblue;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-right: 1%;
}

.gridTwo__item:nth-child(5) {
  margin-right: 0;
}

.gridTwo__item:nth-child(3) {
  -webkit-box-flex: 8;
      -ms-flex: 8 30%;
          flex: 8 30%;
}

.gridThree1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px solid #8d8585;
}

.gridThree1__item {
  background-color: skyblue;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 1%;
}

.gridThree1__item:nth-child(2n) {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.gridThree2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 45vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.gridThree2__item {
  background-color: skyblue;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  height: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 49%;
}

.gridThree2__item:nth-child(3n) {
  width: 100%;
}

.gridFour1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridFour1__item {
  background-color: skyblue;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  height: 26%;
  -webkit-box-flex: 0;
      -ms-flex: 0 32%;
          flex: 0 32%;
  margin-bottom: 2%;
  height: 28vh;
}

@media screen and (min-width: 420px) {
  .gridFour1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .gridFour1 {
    margin: 0 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .gridFour1 {
    margin: 0 20vw;
  }
}

@media screen and (min-width: 1440px) {
  .gridFour1 {
    margin: 0 25vw;
  }
}

.gridFive1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 90vh;
}

.gridFive1__item {
  background-color: skyblue;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 5px;
  padding: 2% 0;
}

.gridFive1__item:nth-child(2n +  3) {
  height: 60%;
}

.gridFive1__item:nth-child(2) {
  height: 40%;
}

.gridFive1__item-text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.grid-wrapper {
  margin: auto 10%;
  height: 100vh;
}

.gridSix1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 45%;
  padding-bottom: 1%;
  border-bottom: 5px solid #ccc8c8;
}

.gridSix1__item {
  background-color: skyblue;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  padding-left: 2%;
}

.gridSix1__item:nth-child(n) {
  width: 40%;
}

.gridSix1__item:nth-child(2n+1) {
  width: 30%;
}

.gridSix2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 45%;
  padding-top: 1%;
}

.gridSix2__item {
  background-color: skyblue;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  width: 40%;
  text-align: center;
}

.masonry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 95vh;
}

.masonry__item {
  background-color: skyblue;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  width: 32%;
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2%;
}

.masonry__item:nth-child(3n + 2) {
  height: 250px;
}

.masonry__item:nth-child(3n + 3) {
  height: 150px;
}

.masonry__item:nth-child(2n) {
  height: 100px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list__item {
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 23.5%;
}

.list__item:nth-child(4n) {
  margin: 0;
}

.list__item-image {
  width: 100%;
  background-color: skyblue;
  min-height: 28vh;
}

.thanks {
  position: fixed;
  bottom: -5px;
  right: 1rem;
}

.next-link {
  position: fixed;
  bottom: 5px;
  right: 7px;
}

.next-btn {
  background-color: #313131;
  border-radius: 5px;
  font-size: 1.25rem;
  color: #FFF;
  height: 2rem;
  width: 4rem;
}

.pre-link {
  position: fixed;
  bottom: 5px;
  left: 7px;
}
/*# sourceMappingURL=main.css.map */