.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid__item {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: skyblue;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-right: 1%;
}

.grid__item:nth-child(9) {
  margin-right: 0;
}

.gridTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridTwo__item {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: skyblue;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-right: 1%;
}

.gridTwo__item:nth-child(7) {
  margin-right: 0;
}

.gridTwo__item:nth-child(4) {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}

.gridThree1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px solid #8d8585;
}

.gridThree1__item {
  background-color: skyblue;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 1%;
}

.gridThree1__item:nth-child(2n) {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.gridThree2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 47vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridThree2__item {
  background-color: skyblue;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  height: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 49%;
}

.gridThree2__item:nth-child(3n) {
  width: 100%;
}

.gridFour1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridFour1__item {
  background-color: skyblue;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  height: 26%;
  -webkit-box-flex: 0;
      -ms-flex: 0 32%;
          flex: 0 32%;
  margin-bottom: 2%;
  height: 28vh;
}

.gridFive1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 95vh;
}

.gridFive1__item {
  background-color: skyblue;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 5px;
  padding: 2% 0;
}

.gridFive1__item:nth-child(2n +  3) {
  height: 60%;
}

.gridFive1__item:nth-child(2) {
  height: 40%;
}

.gridFive1__item-text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.grid-wrapper {
  margin: auto 10%;
  height: 100vh;
}

.gridSix1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 47%;
  padding-bottom: 1%;
  border-bottom: 5px solid black;
}

.gridSix1__item {
  background-color: skyblue;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  padding-left: 2%;
}

.gridSix1__item:nth-child(n) {
  width: 40%;
}

.gridSix1__item:nth-child(2n+1) {
  width: 30%;
}

.gridSix2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 47%;
  padding-top: 1%;
}

.gridSix2__item {
  background-color: skyblue;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  width: 40%;
  text-align: center;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list__item {
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 23.5%;
}

.list__item:nth-child(4n) {
  margin: 0;
}

.list__item-image {
  width: 100%;
  background-color: skyblue;
  min-height: 28vh;
}
/*# sourceMappingURL=main.css.map */